body {
	padding-top: 17vh;
}
.Header {
	position: fixed;
	top: 0;
	left: 0;
	background-color: whitesmoke;
	width: 100%;

	&__title {
		text-align: center;
		margin: 30px 20px;
		font-size: 60px;
		color: #e3d8d8;
	}

	&__search {
		position: absolute;
		left: 15px;
		top: 10px;
		border-radius: 4px;
		padding: 3px 7px;
		outline: none;
		border: 2px solid rgb(195, 168, 193);
	}
	
	&__btn--theme {
		position: absolute;
		right: 15px;
		top: 10px;
		background: whitesmoke;
		padding: 3px 7px;
		cursor: pointer;
		border-radius: 4px;
		border: 1px solid grey;
		color: rgb(49, 49, 49);
		animation: color-change 3s ease-in-out infinite;
	}

	@keyframes color-change {
		0% {
			background-color: whitesmoke;
		}
		50% {
			background-color: rgb(224, 206, 218);
		}
		100% {
			background-color: whitesmoke;
		}
	}
}
