.Bloglist {
	display: flex;
	flex-direction: column;
	width: 95%;
	margin: auto;
	padding: 20px;
	//gap: 1rem;
	color: rgb(86, 85, 85);

	// & li {
	// 	list-style: none;
	// 	display: flex;
	// 	justify-content: flex-start;
	// 	gap: 0.2em;
	// 	flex: 2;
	// 	margin-bottom: 5px;
	// 	padding: 3px;
	// }
}
