.CreatePostForm {
	max-width: 400px;
	margin: auto;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 0.7rem;
	height: auto;

	&__input {
		height: 2rem;
		border: 2px solid #ccc;
		border-radius: 4px;

		&--text {
			height: 4rem;
			text-align: start;
			overflow-y: scroll;
			max-width: 100%;
			min-width: 100%;
			resize: both;
		}

		&:focus {
			outline: none;
			border: 2px solid rgb(195, 168, 193);
		}
	}

	&__button {
		align-self: flex-end;
		background: rgb(203, 224, 216);
		padding: 3px 7px;
		cursor: pointer;
		border-radius: 4px;
		border: 1px solid grey;
		color: rgb(49, 49, 49);
		letter-spacing: 0.2em;
	}
}
