* {
	font-weight: 400;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
}

.App {
	text-align: center;
	width: 80vw;
	margin: 0 auto;
	padding-top: 20px;
	height: 100%;
	background-color: rgb(210, 198, 210);
}
